.zone1 {
    background-image: url(image/header-background.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;

    .bgc {
        width: 100vw;
        // background-color: rgba(19, 232, 241, 0.5);
        background-color: $colorBgc;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 60px;

        section.text h1 {
            font-size: 7rem;
            color: $colorHead;

            @include tablet {
                font-size: 5.5rem;
            }
        }

        section.text p {
            margin-top: 20px;
            font-size: 2rem;
            color: $colorText;

        }

    }
}