.presentation {
    width: 100vw;
    background-color: $colorBgc;
    padding: 50px;
    box-shadow: -15px 1px 5px;

    img {
        display: block;
        margin: 0 auto;
        width: 1000px;
        height: 700px;

        @include tablet {
            width: 500px;
            height: 300px;
        }

        @include mobile {
            width: 200px;
            height: 100px;
        }
    }
}

.zone1 {
    .bgc {
        section.text {
            .btndow {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 35px;

                button {
                    width: 150px;
                    height: 30px;
                    border-radius: 25px;
                    background-color: $colorHead;
                    border: 1px solid #000;
                    box-shadow: 0 0 10px #00000044;

                    a {
                        font-size: 1rem;
                        color: $colorText;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}